/* src/App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.moisture-app {
  text-align: center;
}

header {
  background-color: #333;
  padding: 1rem;
  color: white;
}

main {
  padding: 2rem;
}

.moisture-info {
  background-color: #ba4545;
  border: 1px solid rgb(221, 221, 221)515;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #333;
}

p {
  font-size: 1.5rem;
  color: #4CAF50; /* Green color for moisture percentage */
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #333;
  color: white;
}
